@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    background-color: #ECF0F1; /* Cinza claro */
    overflow: hidden; /* Impede a rolagem do body */
}

.container {
    display: flex;
    position: fixed;
}

.sidebar {
    width: 250px;
    height: 100vh; /* Ajuste a altura para ocupar a altura total da tela */
    background-color: #2C3E50; /* Azul escuro */
    color: white;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
    transition: width 0.3s; /* Suaviza a transição da largura */
    position: fixed; /* Garante que a barra lateral fique fixa */
    overflow-y: auto; /* Permite rolagem apenas na barra lateral, se necessário */
}

.sidebar h2 {
    color: #1ABC9C; /* Verde */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #1ABC9C; /* Verde */
}

main {
    margin-left: 260px; /* Margem igual à largura da barra lateral */
    padding: 20px; /* Espaçamento interno */
    height: 100vh; /* Altura da viewport para centralização vertical */
    overflow-y: auto; /* Permite rolagem se o conteúdo for longo */
    box-sizing: border-box; /* Inclui padding na largura e altura */
}

main.content {
    padding: 100px;
    flex-grow: 1;
}

main.content > article {
    padding: 15px;
}

/* Outras classes e estilos permanecem os mesmos */
.search {
    position: absolute;
    top: 3%;
    left: 50%;
    background: #0a1b2d;
    height: 24px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
    width: 0; /* Largura inicial */
    transition: 0.2s; /* Suavizar a transição */
}

.search-txt.active {
    width: 240px; /* Largura expandida quando ativo */
    padding: 0 6px; /* Padding quando ativo */
    background: #0a1b2d; /* Fundo ligeiramente claro */
    border-radius: 20px; /* Adicionar arredondamento */
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0a1b2d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.search:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search:hover > .search-btn {
    background: white;
}

.hidden {
    display: none;
}

#tabela-container {
    position: absolute; /* Para manter o posicionamento */
    top: 80px; /* Ajuste conforme necessário para que fique logo abaixo da barra de pesquisa */
    left: 35%; /* Para alinhar com a barra de pesquisa */
    background: #0a1b2d; /* Fundo da tabela */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
    z-index: 10; /* Para garantir que a tabela fique acima de outros elementos */
}

.tabela-itens > th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    background-color: white;
}

.pop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    position: relative;
}

.popup-button,
.popup .close-popup-button {
    background-color: #ee404c;
    border: none;
    padding: 8px 30px;
    border-radius: 16px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s;
    margin: 12px 0;
}

.popup-button:hover,
.popup .close-popup-button:hover {
    opacity: .8;
}

.popup-button:active,
.popup .close-popup-button:active {
    transform: scale(.8);
}

.popup {
    position: absolute; /* Muda para fixed para fixar o popup em relação à tela */
    top: -200%; /* Posiciona o popup 50% da altura da tela */
    left: 25%; /* Posiciona o popup 50% da largura da tela */
    background-color: #333;
    padding: 30px 50px;
    border-radius: 8px;
    text-align: center;
    width: 500px;
    box-sizing: border-box;
    transition: all .4s;
    z-index: -1;
    transform: scale(.4);
    opacity: 0;
}

.popup.opened {
    z-index: 999;
    transform: scale(1);
    opacity: 1;
}

.popup img {
    width: 100px;
}

.popup h2.title {
    color: #ee404c
}

.popup p.desc,
.popup p.desc a {
    color: #fff;
}

.popup p.att {
    color: #fff;
}