@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    background-color: darkgrey; /* Cinza claro */
    overflow: hidden; /* Impede a rolagem do body */
    height: 100%;
}

.container {
    display: flex;
    position: fixed;
}

.sidebar {
    width: 250px;
    height: 100vh; /* Ajuste a altura para ocupar a altura total da tela */
    background-color: #2C3E50; /* Azul escuro */
    color: white;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
    transition: width 0.3s; /* Suaviza a transição da largura */
    position: fixed; /* Garante que a barra lateral fique fixa */
    overflow-y: auto; /* Permite rolagem apenas na barra lateral, se necessário */
}

.sidebar h2 {
    color: #20f5ca; /* Verde */
}

.sidebar div.pos {
    position: absolute;
    bottom: 30px; /* Move o trilho 20px para cima da borda */
}

.trilho {
    width: 70px;
    height: 30px;
    background-color: #4d4d4d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px; /* Adiciona um pequeno padding para garantir alinhamento */
    box-sizing: border-box;
}

.trilho .indicador {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark {
    background-color: #c3c3c3;
}

.trilho.dark .indicador {
    left: 40px;
    background-color: #fff;
}

body.dark {
    background-color: #e6e6e6;
    color: #000;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark p {
    color: #000;
}

main.dark {
    background-color: white;
}

main.dark p {
    color: #000;
}

main.dark h3 {
    color: #000;
}

body.dark table td {
    color: #000;
    background-color: rgb(218, 218, 218);
}

body.dark table th {
    color: rgb(2, 145, 145);
    background-color: rgb(218, 218, 218);
}

body.dark table.cross th {
    color: #ad1f0f;
    background-color: rgb(218, 218, 218);
}

body.dark table.treining th {
    color: #d27e00;
    background-color: rgb(218, 218, 218);
}

body.dark table {
    background-color: rgb(218, 218, 218);
}

header.dark {
    background-color: #6fa6dd;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #1ABC9C; /* Verde */
}

main {
    margin-left: 260px; /* Margem igual à largura da barra lateral */
    padding: 20px; /* Espaçamento interno */
    height: 100vh; /* Altura da viewport para centralização vertical */
    overflow-y: auto; /* Permite rolagem se o conteúdo for longo */
    box-sizing: border-box; /* Inclui padding na largura e altura */
    color: white;
}

main.content {
    padding: 100px;
    flex-grow: 1;
    justify-content: center;  /* Centraliza o conteúdo dentro do main */
    align-items: center;      /* Alinha verticalmente o conteúdo */
}

main.content > article {
    padding: 15px;
}

/* Outras classes e estilos permanecem os mesmos */
.search {
    position: absolute;
    top: 3%;
    left: 50%;
    background: #0a1b2d;
    height: 24px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
    width: 0; /* Largura inicial */
    transition: 0.2s; /* Suavizar a transição */
}

.search-txt.active {
    width: 240px; /* Largura expandida quando ativo */
    padding: 0 6px; /* Padding quando ativo */
    background: #0a1b2d; /* Fundo ligeiramente claro */
    border-radius: 20px; /* Adicionar arredondamento */
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0a1b2d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.search:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search:hover > .search-btn {
    background: white;
}

.hidden {
    display: none;
}

#tabela-container {
    position: absolute; /* Para manter o posicionamento */
    top: 80px; /* Ajuste conforme necessário para que fique logo abaixo da barra de pesquisa */
    left: 35%; /* Para alinhar com a barra de pesquisa */
    background: #0a1b2d; /* Fundo da tabela */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
    z-index: 10; /* Para garantir que a tabela fique acima de outros elementos */
}

.tabela-itens > th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    background-color: white;
}


.pop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5a5a5a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    position: relative;
}

.popup-button,
.popup .close-popup-button {
    background-color: #ee404c;
    border: none;
    padding: 8px 30px;
    border-radius: 16px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s;
    margin: 12px 0;
}

.popup-button:hover,
.popup .close-popup-button:hover {
    opacity: .8;
}

.popup-button:active,
.popup .close-popup-button:active {
    transform: scale(.8);
}

.popup {
    position: absolute; /* Muda para fixed para fixar o popup em relação à tela */
    top: -100%; /* Posiciona o popup 50% da altura da tela */
    left: 20%; /* Posiciona o popup 50% da largura da tela */
    background-color: #333;
    padding: 30px 50px;
    border-radius: 8px;
    text-align: center;
    width: 500px;
    box-sizing: border-box;
    transition: all .4s;
    z-index: -1;
    transform: scale(.4);
    opacity: 0;
}

.popup.opened {
    z-index: 999;
    transform: scale(1);
    opacity: 1;
}

.popup img {
    width: 100px;
}

.popup h2.title {
    color: #ee404c
}

.popup p.desc,
.popup p.desc a {
    color: #fff;
}

.popup strong.att {
    color: #ee404c;
}

main.content > article.att {
    padding: 15px;
    border-radius: 8px;
    background-color: #5a5a5a;
    min-height: 100vh;
}

article.att > h1,strong{
    text-align: center;
}

table.scale {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px auto;  
    text-align: center;
    }

table.scale, tr, th, td {
    border: 2px solid black;
    background-color: grey;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
} 

table th {
    color: cyan;
}

table.cross th {
    color: red;
}

table.treining th {
    color: orange;
}

body.dark article.att {
    background-color: white;
    color: #000;
}

body.dark div.pop {
    background-color: white ;
    color: #000; 
}

body.dark div.popup {
    background-color: #f0f0f0;
    color: #000; 
}

body.dark article.att h1,
body.dark article.att strong,
body.dark div.popup h2,
body.dark div.popup a {
    color: #000;
}

body.dark nav.sidebar h2 {
    color: #1ABC9C;
}

body.dark nav.sidebar h2.cross {
    color: #E74C3C;
}

body.dark nav.sidebar h2.treining {
    color: #ed8e00;
}
